ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
    // --padding-start: 7px;
    // --padding-end: 7px;
}

h2 {
    color: var(--ion-color-primary);
    padding: 5px 10%;
    margin: 0;
}

p {
    padding: 5px 10px;
    margin: 0;
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}