.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .inner {
        width: 100%;
        max-width: 1000px;
    }
}

h2 {
    text-align: center;
}

.promos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    // background-color: rgba(200, 0, 0, .05);

    .promo {
        width: 250px;
        // height: 250px;
        // background-color: rgba(0, 200, 0, .05);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
        border-radius: 10px;

        &-img {
            width: 200px;
            height: 200px;
            margin: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center center;
            border: solid 3px white;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .25);
            cursor: pointer;
        }

        h4 {
            text-align: center;
        }
    }

}