ion-header {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

ion-content {
    z-index: 20;
}

.farmer-back-btn {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.title-block {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    align-self: flex-start;

    &-logo {
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        // border: solid 1px var(--ion-color-primary);
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    }

    &-info {
        text-align: left;
        padding-left: 10px;

        &>* {
            margin: 0;
        }

        h2 {
            font-size: 24px;
            padding-bottom: 5px;
        }

        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 767px) {
    .title-block {
        flex-wrap: wrap;

        &-logo {
            width: 80px;
            height: 80px;
        }

        &-info {
            text-align: center;
            // padding: 10px;

            h2 {
                font-size: 14px;
                padding-bottom: 5px;
            }

            p {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 500px) {
    .title-block {
        &-logo {
            width: 60px;
            height: 60px;
        }
    }
}

ion-tab-bar {
    --border: solid 1px var(--ion-color-primary);
    border-top: solid 1px var(--ion-color-primary);
}