<ion-app>
  <ion-header>
    <div text-center class="main-title">
      <div class="title-block">
        <span class="home">
          <span *ngIf="isHome"></span>
          <ion-icon name="home" color="primary" [routerLink]="['/home']" *ngIf="!isHome" @btnHomeAnimation></ion-icon>
        </span>
        <img src="/assets/icon/logo.svg" [routerLink]="['/home']" alt="" class="logo">
        <div class="cart" [routerLink]="['/cart']">
          <span class="counter">{{cartCounter}}</span>
        </div>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>