* {
    outline: none;
}

:root {
    /**  CUSTOM  **/
    // --ion-font-family: 'Exo 2', sans-serif;
    // --ion-font-family: 'Lobster Two', cursive;
    // --ion-font-family: 'Philosopher', sans-serif;
    // --ion-font-family: 'Didact Gothic', sans-serif;
    // --ion-font-family: 'Anonymous Pro', monospace;
    --ion-font-family: 'Kurale', serif;

    // --ion-font-family: 'Cormorant', serif;
    // --ion-font-family: 'Cormorant Infant', serif;
    // --ion-font-family: 'Cormorant SC', serif;
    // --ion-font-family: 'Cormorant Unicase', serif;
}


// TITLE
.main-title {
    padding-top: 10px;
    background-color: #fefefe;
}

.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .home {
        width: 50px;
        ion-icon {
            font-size: 30px;
            cursor: pointer;
        }
    }

    ion-button {
        position: fixed;
        // height: 50px;
        // width: 50px;
        top: 5px;
        left: 5px;
    }

    .cart {
        // position: fixed;
        height: 50px;
        width: 50px;
        top: 5px;
        right: 5px;
        background-image: url('/assets/icon/cart-ico.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        justify-self: end;
        cursor: pointer;

        .counter {
            position: absolute;
            right: 0px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgba(var(--ion-color-primary-rgb), .9);
            color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
        }
    }

    .logo {
        cursor: pointer;
        height: 50px;
    }
}


// FARMER
.farmers-ribbon {
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        // opacity: .4;
    }
}

// .text-center {
//     text-align: center;
// }

// GOOD
.modal-good {
    --border-radius: 15px;
    --max-width: 400px;
    // --max-height: 10000px;
    --height: 80vh;
}

.video-frame {
    // max-width: 95%;
    iframe {
        box-shadow: 0 0 10px 0px rgba(0, 0, 0, .4);
        border-radius: 10px;
        max-width: 95vw;
        max-height: 45vw;
    }
}

// CART
.edit-quantity-modal {
    --width: 300px;
    --border-radius: 15px;
}

// PROMO
.promo-modal {
    // --width: 400px;
    --border-radius: 15px;
}

// INFO
.info-modal {
    // --width: 400px;
    --border-radius: 15px;

    .modal-close-btn {
        color: var(--ion-color-primary);
        cursor: pointer;
        font-size: 36px;
    }

    h3 {
        margin: 0;
        text-align: center;
        color: var(--ion-color-primary);
    }

    .text {
        text-align: justify;
        padding: 20px;
    }
}