.banner {
    width: 100%;
    height: 20vw;
    background-image: url('/assets/icon/back-alt.svg');
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .4);

    display: flex;
    justify-content: center;
    align-items: center;

    &-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        padding: 20px;
        background-color: rgba(255, 255, 255, .8);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);

        &>* {
            flex-basis: 100%;
            text-align: center;
            margin: 0;
        }

        h1 {
            font-size: 26px;
            font-weight: 600;
            color: var(--ion-color-primary);
        }

        h2 {
            padding: 10px 0;
        }

        h3 {
            font-weight: 600;
            color: var(--ion-color-secondary);
        }
    }
}

@media (orientation: portrait) {
    .banner {
        height: 35vh;
    }
}


// SEARCH
.search-block {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-item {
        flex-basis: 60%;

    }
}


// FARMERS RIBBON
.farmers-ribbon {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .4);

    h3 {
        margin: 0;
        padding: 20px 0;
        color: var(--ion-color-primary);
    }

    ion-slides {
        padding: 10px 10vw;
        --bullet-background: var(--ion-color-secondary);

        ion-slide {
            padding: 10px;
        }
    }

    h4 {
        text-align: center;
        color: var(--ion-color-primary);
        cursor: pointer;
        margin: 0;
        padding: 20px 0;
    }
}

.farmer-template-card {
    width: 100%;
}


.visible-4 {
    display: block;
}

.visible-3 {
    display: none;
}

.visible-2 {
    display: none;
}

.visible-1 {
    display: none;
}

@media (max-width: 1023px) {
    .visible-4 {
        display: none;
    }

    .visible-3 {
        display: block;
    }

    .visible-2 {
        display: none;
    }

    .visible-1 {
        display: none;
    }
}

@media (max-width: 767px) {
    .visible-4 {
        display: none;
    }

    .visible-3 {
        display: none;
    }

    .visible-2 {
        display: block;
    }

    .visible-1 {
        display: none;
    }
}

@media (max-width: 500px) {
    .visible-4 {
        display: none;
    }

    .visible-3 {
        display: none;
    }

    .visible-2 {
        display: none;
    }

    .visible-1 {
        display: block;
    }
}

// PROMOS
.promos-ribbon {
    padding: 5px 5px 25px;

    h3 {
        margin: 0;
        padding: 15px;
        color: #e30118;
    }
}

.promos-item {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .25);

    span {
        font-size: 12px;
        background-color: rgba(255, 255, 255, .85);
        flex-basis: 100%;
        padding: 5px;
    }
}

// CATEGORIES
.categories-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0 80px;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .4);

    h3 {
        margin: 0;
        padding: 20px 0;
        flex-basis: 100%;
        text-align: center;
    }
}

.categories {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &-item {
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 6px;

        &-img {
            width: 150px;
            height: 150px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        h4 {
            flex-basis: 100%;
            text-align: center;
        }
    }
}


// FOOTER
.home-footer {
    padding: 20px;
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;

    &-inner {
        width: 100%;
        max-width: 1000px;
        min-height: 200px;
        border-radius: 10px;
        background-color: #e4e4e4;
        padding: 10px;
        text-align: center;
    }
}