<ion-content>
  <div class="inner">
    <ion-toolbar text-right>
      <ion-icon name="close" (click)="close()" class="modal-close-btn"></ion-icon>
    </ion-toolbar>
    <div class="inner-data">
      <h2>Контактная информация</h2>
      <div text-center>
        <h4>WANNA-FRESH.RU</h4>
        <p>ОГРН <strong>1027700067328</strong></p>
        <p>Заказ и доставка продуктов из фермерских хозяйств. <br> Круглосуточно, без выходных.</p>
        <h4>Телефон</h4>
        <p>По будним дням, с 11.00 до 19.00</p>
        <p><a href="tel:+79313070040">+7 (931) 307-00-40</a></p>
        <h4>E-mail</h4>
        <p><a href="mailto:info@wanna-fresh.ru">info@wanna-fresh.ru</a></p>
      </div>
    </div>
    <ion-button (click)="close()" color="primary" fill="outline" expand="full" [ngStyle]="{marginBottom: '20px'}">
      <ion-icon name="close"></ion-icon>
      Закрыть
    </ion-button>
  </div>
</ion-content>